.Sidebar{display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        bottom: 0;
        justify-content: space-between;
        left: 0;
        height: 475px;
        background-color:white;
        z-index: 101;
        align-items: center;
        padding-top: 16px;
        width: 84px;
        background-color: 0;}
.icons-sidebar{height: 27px;}
.icons-sidebar-div{
                display: flex;
                flex-direction: column;
                width: 80px;
                align-items: center;
                cursor: pointer;
                padding-top: 10px;
                line-height: 7px;
                height: 70px;}
.icons-para{font-size: 11px;
            font-family: Arial, Helvetica, sans-serif;}
.icons-sidebar-div:hover{background-color: rgb(233, 232, 232);}