.Sidebar{display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 65px;
        background-color: 0;}
.icons-sidebar{height: 27px;}

.icons-para{font-size: 11px;}