.Sidebar{display: flex;
        flex-direction: column;
        position: fixed;
        top: 60px;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        height: 475px;
        align-items: center;
        padding-top: 20px;
        width: 84px;
        background-color: 0;}
.icons-sidebar{height: 27px;}
.icons-sidebar-div{}
.icons-para{font-size: 11px;}
.icons-sidebar-buttton{background-color:gainsborowhite;
                        border: none;
                        cursor: pointer;
                        line-height: 6px;}